
<!--<div class="row d-flex justify-content-center">-->
<!--<div class="demo-header">-->
<div class="center1">
  <div class="col-md-6">

    <!-- <h1 class="elementor-heading-title elementor-size-default">TONI ELEKETROTECHNIK - PROFESSIONELLE ELEKTROINSTALLATIONEN</h1> -->

    <h2>TONI ELEKETROTECHNIK - PROFESSIONELLE ELEKTROINSTALLATIONEN</h2>
    <h3>ÜBER UNS</h3>
    <p> +49 (0)7195 587161
      SCHREIBEN SIE UNS
    </p>
    TONI Elektrotechnik ist seit über 12 Jahren in der Elektroinstallation tätig und bietet ein professionelles und erfahrenes Team. Unser Fokus liegt auf Elektroinstallationen, Gebäudetechnik, Elektroplanung, Beleuchtungstechnik, Netzwerktechnik, Sprechanlagen und Beratung. Mit unserer jahrelangen Erfahrung sorgen wir dafür, dass Ihre Elektroinstallationen effizient, zuverlässig und sicher sind. Wir bieten Ihnen hochwertige Dienstleistungen zu erschwinglichen Preisen. Wenn Sie auf der Suche nach einem zuverlässigen und qualifizierten Elektroinstallations–Unternehmen sind, dann sind Sie bei TONI Elektrotechnik an der richtigen Adresse.
    <div class="example-button-row">
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
    <section>
      <button mat-raised-button color="warn">Warn</button>
    </section>
  </div>
  </div>

</div>
