

.main{
  margin: auto;
    width: 70%;
    border: 3px solid #c6b9b9;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.c {
  text-align: right;
} 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: red;
}

.active {
  background-color: #04AA6D;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
