  .backgroundmain{
    background-color: #152C42;
  }

  .center {
    margin: auto;
    width: 70%;
    padding: 20px;
    display: flex;
    background-color: #152C42;
    color: white;
  }

  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }

  
  section {
    display: table;
  }

  .h5{
    color: white;
  }

  .elementor-heading-title{
    font-family: 'Oswald' , sans-serif;
    font-size: 56px;
    font-weight: 500;
    letter-spacing: 2.2px;
    text-transform: uppercase;
  }

  .elementor-heading-title2{
    font-family: 'Oswald' , sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  section {
    display: table;
  }

  .example-button-row {
    display: table-cell;
    max-width: 600px;
    background-color: red;
  }

  .mat-raised-button{
    background-color:red;
  }

  .change{
    display: inline-block;
      width: 150px;
      text-align: left;
  }

  