<div class="center1">
  <div>
    <p> Zertifizierte Mitarbeiter
    </p>
    <p>
      Unsere zertifizierten Mitarbeiter sorgen für eine pünktliche Umsetzung Ihrer Projekte. Dank der flexiblen Einsatzmöglichkeiten können wir auch überregional für Sie tätig werden. Unser faires Preisleistungsverhältnis garantiert Ihnen, dass Sie immer den besten Preis erhalten. So können Sie sicher sein, dass Sie bei TONI Elektrotechnik immer ein qualitativ hochwertiges Ergebnis erzielen.
    </p>
    <div class="example-button-row">
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
    <section id="thirdbehavior">
      <button mat-raised-button color="warn">Mehr erfahren</button>
    </section>
  </div>
  </div>
</div>
