
<!--<div class="row d-flex justify-content-center">-->
<!--<div class="demo-header">-->
<div class="center1">
  <div class="col-md-6">

    <h1 class="elementor-heading-title elementor-size-default">Toni Elektrotechnik</h1>
    <p></p>
    <p></p>
    <p></p>
    <h2 class="elementor-heading-title2">Herzlich Wilkommen</h2>
    <p></p>
    <p></p>
    <p>Mit mehr als vielen Jahren Erfahrung in der Elektrotechnik und Elektroinstallation bieten wir ein eingespieltes Team. Unsere Schwerpunkte liegen auf der Elektroinstallation, Gebäudetechnik, Elektroplanung, Beleuchtungstechnik, Netzwerktechnik, Sprechanlagen und Beratung. Wir sorgen dafür, dass Ihre Elektroinstallationen effizient, zuverlässig und sicher sind. Unser qualifiziertes und erfahrenes Team ist bestrebt, Ihnen hochwertige Dienstleistungen zu angemessenen Preisen zu liefern.
    </p>
    
      <div class="example-button-row">
    <section>
      <button mat-raised-button color="warn">MEHR ERFAHREN >></button>
    </section>
    
  </div>
  <p></p>
  </div>

</div>
